<div class="Principal">
    <h3>Este sistema WEB é um E-Commerce que simula uma loja de jogos de vídeo-games.</h3>
    <h3>Tem como objetivo aprender a integrar o backend utilizando node.js e expressJs</h3>
    <h3>com o frontend usando Angular Material</h3>
    <h3>Este sistema tem funcionalidade de adicionar,editar e criar produtos para o administrador</h3>
    <h3>e os clientes podem fazer compras, utilizando funcionalidade do carrinho.</h3>
    <h3>Somos Joaquim, Felipe, William e Gleisson</h3>
</div>