<mat-toolbar color="primary"  class="navbar">
    <div><a routerLink="/home"><img src="../../assets/logo.jpg" height="70" width="70"></a></div>
    <div class="navbarButtons">
      <button mat-button routerLink="/home">Principal</button>
      <button mat-button routerLink="/login">Login</button>
    </div>
    <mat-search-bar (onEnter)="onSearch($event)"></mat-search-bar>
</mat-toolbar>
<mat-sidenav-container class="menu-lateral">
  <mat-sidenav opened mode="side">
    <mat-nav-list>
        <a mat-list-item href="#">RPG</a>
        <a mat-list-item href="#">Luta</a>
        <a mat-list-item href="#">Esporte</a>
        <a mat-list-item href="#">Plataforma</a>
        <a mat-list-item href="#">Tiro</a>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>