.navbar{
    justify-content: space-between;
}
.navbarButtons{
    margin-right:40%;
}
.navbarButtons button{
    padding-right: 1rem;
}
mat-search-bar{
    font-size: 14px;
    margin-right:2%;
}
.menu-lateral{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 60px;
    bottom: 0;
}
mat-nav-list{
    margin-top:100%;
}